@background: rgb(180, 160, 255);
@background-gradient: linear-gradient(
  90deg,
  rgba(180, 160, 255, 1) 0%,
  rgba(221, 179, 255, 1) 54%,
  rgba(255, 198, 255, 1) 100%
);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  &:focus-visible {
    outline: -webkit-focus-ring-color auto 0px;
  }

  &:focus {
    outline: hidden;
  }
}
.anim {
  transition: all ease 0.2s;
}
body {
  width: 100%;
  font-family: "TT Norms Pro";
  color: #000000;
  overflow-x: hidden;
}
button {
  background: transparent;
  border: none;
  cursor: pointer;
}
.container {
  width: 100vw;
  margin: 0 auto;
  position: relative;
}
.dot {
  img {
    position: relative;
    top: -20px;
    left: 70px;
  }
}
.header_inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 67px 15px 104px;
}
.header-wrapper,
.sec2-wrapper,
.sec5-wrapper {
  background: @background;
  background: @background-gradient;
}
.marquee-horizontal {
  position: relative;
  z-index: 200;
  display: flex;
  overflow: hidden;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  .track-horizontal {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    white-space: nowrap;
    will-change: transform;
  }

  @keyframes marquee-horizontal {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }
}
.eyes1 {
  position: absolute;
  top: 61px;
  left: 0px;
  &-wrapper {
    position: relative;
  }
  .eye1-1_bg {
    position: absolute;
  }
  .eye1_veins {
    position: absolute;
    left: 8px;
    top: 82px;
  }
  .eye1_pupil-orange {
    position: absolute;
    top: 135px;
    left: 80px;
  }
  .eye1pupil-black {
    position: absolute;
    top: 150px;
    left: 100px;
  }
  .eye1pupil {
    position: absolute;
    top: 155px;
    left: 130px;
  }
  .eye2_veins {
    position: absolute;
    top: 269px;
    left: 352px;
  }
  .eye2_pupil-orange {
    position: absolute;
    top: 290px;
    left: 380px;
  }
  .eye2pupil-black {
    position: absolute;
    top: 302px;
    left: 398px;
  }
  .eye2pupil {
    position: absolute;
    top: 309px;
    left: 412px;
  }
  .eyes-line {
    position: absolute;
    top: 127px;
    left: 135px;
  }
}
.logo {
  position: relative;
  border: 3px solid #000000;
  border-radius: 20px;
  padding: 41px 400px 32px 25px;
  .logo_eye {
    position: absolute;
    top: 30px;
    right: 46px;
  }
  .eye-slide_up,
  .eye-slide_down {
    .anim;
  }
  &:hover {
    .eye-slide_up {
      transform: translateY(-30px);
    }
    .eye-slide_down {
      transform: translateY(30px);
    }
  }
}
.schedule {
  position: relative;
  padding: 5px 39px 0px 0px;
  font-weight: 1000;
  font-size: 31px;
  line-height: 37px;
  letter-spacing: 0.3px;

  .eyes3 {
    position: absolute;
    top: -3px;
    left: -104px;
    .eyes3-wrapper {
      position: relative;
    }
    .eye3-veins {
      position: absolute;
      top: 3px;
      left: 5px;
    }
    .eye3-pupil-orange {
      position: absolute;
      top: 14px;
      left: 17px;
    }
    .eye3-pupil-black {
      position: absolute;
      top: 25px;
      left: 27px;
    }
    .eye3-pupil {
      position: absolute;
      top: 28px;
      left: 31px;
    }
  }
}
.yellow_txt {
  color: #efcb52;
}
.sec2 {
  margin-top: 0px;
  &-wrapper {
    border-radius: 0px 0px 125px 188px;
  }
  &_inner {
    padding-bottom: 242px;
    text-align: center;
    position: relative;
    &::after {
      position: absolute;
      content: url(../img/arrow2.svg);
      top: 365px;
      // left: 637px;
      left: 45vw;
    }
  }
  .marquee-horizontal {
    height: 137px;
  }
  .track-horizontal {
    animation: marquee-horizontal 40s linear infinite;
    /* manipulate the speed of the marquee by changing "40s" line above*/
  }
  .marquee-text {
    margin-right: 8vw;
    flex: 0 0 auto;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 97px;
    line-height: 116px;
  }
  .t2 {
    margin-top: 18px;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
  }
  .eyes4 {
    position: absolute;
    bottom: -11px;
    // left: 234px;
    left: 23vw;
    z-index: 99;
    .eye4-bg {
      position: absolute;
      top: -12px;
      left: 480px;
    }
    .eyes4-wrapper {
      position: relative;
    }
    .eye4-veins {
      position: absolute;
      top: -12px;
      left: 480px;
    }
    .eye4-pupil-orange {
      position: absolute;
      top: 0px;
      left: 499px;
    }
    .eye4-pupil-black {
      position: absolute;
      top: 12px;
      left: 512px;
    }
    .eye4-pupil {
      position: absolute;
      top: 15px;
      left: 520px;
    }
  }
  .eyes5 {
    position: absolute;
    top: 146px;
    right: -93px;
    .eyes5-wrapper {
      position: relative;
    }
    .eye5-bg {
      position: absolute;
      top: 269px;
      right: 469px;
    }

    .eye5-veins {
      position: absolute;
      top: 269px;
      right: 477px;
    }
    .eye5-pupil-orange {
      position: absolute;
      top: 285px;
      right: 520px;
    }
    .eye5-pupil-black {
      position: absolute;
      top: 293px;
      right: 536px;
    }
    .eye5-pupil {
      position: absolute;
      top: 300px;
      right: 553px;
    }
    .eye6-bg {
      position: absolute;
      top: -31px;
      right: -49px;
    }

    .eye6-veins {
      position: absolute;
      top: 0px;
      right: 0px;
    }
    .eye6-pupil-orange {
      position: absolute;
      top: 89px;
      right: 210px;
    }
    .eye6-pupil-black {
      position: absolute;
      top: 99px;
      right: 247px;
    }
    .eye6-pupil {
      position: absolute;
      top: 113px;
      right: 298px;
    }
    .eye7-bg {
      position: absolute;
      top: 156px;
      right: 462px;
    }

    .eye7-veins {
      position: absolute;
      top: 157px;
      right: 466px;
    }
    .eye7-pupil-orange {
      position: absolute;
      top: 166px;
      right: 489px;
    }
    .eye7-pupil-black {
      position: absolute;
      top: 170px;
      right: 498px;
    }
    .eye7-pupil {
      position: absolute;
      top: 175px;
      right: 506px;
    }
  }
}
.register_btn {
  position: relative;
  margin: 56px 0 0 46px;
  display: inline-block;
  padding: 14px 64px;
  background: #000000;
  border-radius: 5px;
  font-family: "TT Norms Pro";
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  text-transform: capitalize;
  color: #f2cdff;
  transition: transform 0.7s;
  text-decoration: none;
  z-index: 9;
  &::before {
    position: absolute;
    content: "";
    width: 97%;
    height: 90%;
    top: 6px;
    left: 6px;
    border: 3px solid #000000;
    border-radius: 5px;
  }
  &:hover {
    transform: scale(1.02) translate(-5px, -6px);
  }
}

.sec3 {
  margin-top: 64px;
  &_inner {
    display: flex;
    justify-content: space-between;
    gap: 81px;
    position: relative;
    padding-right: 5%;
  }
  .main_content {
    flex-shrink: 0;
    position: relative;

    .active {
      display: block;
    }
  }
  .tab {
    display: none;
  }
  .t1 {
    padding-left: 105px;
    font-weight: 800;
    font-size: 97px;
    line-height: 116px;
    text-transform: uppercase;
    margin-bottom: 43px;
  }
  .t2 {
    position: relative;
    padding: 82px 54px 88px 108px;
    background: @background;
    background: @background-gradient;
    border-radius: 0px 20px 20px 0px;
    &::before {
      position: absolute;
      content: url(../img/exclamation_mark.svg);
      top: -25px;
      right: -34px;
      width: 62px;
      height: 62px;
      z-index: 9;
    }
    &::after {
      position: absolute;
      content: "";
      width: 102%;
      height: 98%;
      bottom: 11px;
      left: 0px;
      border: 3px solid #000000;
      border-left: none;
      border-radius: 0 20px 20px 0;
    }
    .schedule_eye {
      position: absolute;
      top: 87px;
      right: 60px;
    }
    .eye-slide_up,
    .eye-slide_down {
      .anim;
      fill: #f4c0ff;
    }
    &:hover {
      .eye-slide_up {
        transform: translateY(-30px);
      }
      .eye-slide_down {
        transform: translateY(30px);
      }
    }
    .tt1 {
      padding-left: 0px;
      font-weight: 700;
      font-size: 40px;
      line-height: 48px;
      text-transform: uppercase;
    }
    .tt2 {
      margin-top: 19px;
      max-width: 612px;
      font-weight: 400;
      font-size: 30px;
      line-height: 44px;
    }
  }
  .tabs {
    z-index: 999;
    margin-top: 70px;
    list-style-type: none;
    font-weight: 700;
    font-size: 30px;
    color: #dbdbdb;
    .active {
      color: #000000;
    }
    &-item {
      margin-bottom: 28px;
      position: relative;
      padding-left: 25px;
      &::before {
        position: absolute;
        content: "•";
        top: 0px;
        left: 0px;
      }
      .anim;
      &:hover {
        color: #000000;
        cursor: pointer;
      }
    }
  }
}
.sec4 {
  margin-top: 51px;
  .marquee-horizontal {
    height: 114px;
  }
  .track-horizontal {
    animation: marquee-horizontal 40s linear infinite;
    /* manipulate the speed of the marquee by changing "40s" line above*/
  }
  .marquee-text {
    margin-right: 8vw;
    flex: 0 0 auto;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 97px;
    line-height: 116px;
    .bg-txt {
      background: url(../img/bg-txt.png) no-repeat center/cover;
      -webkit-background-clip: text;
      -webkit-text-fill-color: rgba(81, 155, 254, 0.5);
    }
  }

  &-main {
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    gap: 20%;
  }
  .man {
    position: relative;
    max-width: 350px;
    padding-left: 10vw;
    .zoom-photo {
      margin: 87px 0 0 108px;
    }
    .round-text {
      width: 325px;
      height: 325px;
      position: absolute;
      // left: 93px;
      left: -63px;
      top: -61px;
      animation: rotate 40s linear infinite;
      @keyframes rotate {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(-359deg);
        }
      }
    }
    svg {
      text {
        font-size: 21px;
        font-weight: 700;
        letter-spacing: -2.8px;
      }
    }
    &-photo {
      width: 232px;
      height: 232px;
      margin: 29px 0px 0px 159px;
      position: relative;
      &:hover {
        .man-eye-closed {
          visibility: visible;
        }
      }
      .man-eye-closed {
        visibility: hidden;

        position: absolute;
        top: 81px;
        right: 79px;
      }
    }
  }
  .txt {
    max-width: 950px;

    .t1 {
      .tt1 {
        font-weight: 700;
        font-size: 40px;
      }
      .tt2 {
        font-weight: 400;
        font-size: 30px;
        line-height: 47px;
        margin-top: 12px;
      }
      padding: 0px 135px 25px 58px;
    }
    .t2 {
      .tt1 {
        font-weight: 700;
        font-size: 40px;
      }
      .tt2 {
        font-weight: 400;
        font-size: 30px;
        line-height: 47px;
        margin-top: 12px;
      }
      position: relative;
      padding: 40px 140px 60px 58px;
      margin-top: 70px;
      background: @background;
      background: @background-gradient;
      border-radius: 20px 0px 0px 20px;
      &::after {
        position: absolute;
        content: "";
        width: 101%;
        height: 98%;
        bottom: 14px;
        right: 0px;
        border: 3px solid #000000;
        border-right: none;
        border-radius: 20px 0px 0px 20px;
      }
    }
  }
}
.sec5 {
  margin-top: 141px;
  position: relative;
  &-wrapper {
    position: relative;
    border-radius: 27px 188px 20px 0px;
    &::before {
      position: absolute;
      content: "";
      width: 673px;
      height: 949px;
      top: -445px;
      left: 0px;
      background-image: url(../img/sec5_bg.svg);
      background-position: -43px 0px;
      background-repeat: no-repeat;
    }
  }
  &_inner {
    position: relative;
    margin: 0 auto;
    width: 300px;
    text-align: center;
    padding: 50px 0px 60px 0px;
    &::before {
      position: absolute;
      content: url(../img/arrow4.svg);
      top: 160px;
      left: 270px;
    }
    &::after {
      position: absolute;
      content: url(../img/arrow3.svg);
      top: -134px;
      right: -217px;
    }
    .t1 {
      font-weight: 700;
      font-size: 30px;
      line-height: 36px;
    }
    .sec5-logo {
      margin-top: 172px;
    }
    .register_btn {
      position: absolute;
      top: -6px;
      left: 335px;
    }
    .schedule_eye {
      position: absolute;
      top: 159px;
      left: 65px;
      // left: 45%;
      svg {
        width: 181px;
        height: 93px;
      }
      &-open {
        .eye-slide_up {
          transform: translateY(-30px);
        }
        .eye-slide_down {
          transform: translateY(30px);
        }
      }
    }
    .eye-slide_up,
    .eye-slide_down {
      .anim;
    }
    &:hover {
      .eye-slide_up {
        transform: translateY(-30px);
      }
      .eye-slide_down {
        transform: translateY(30px);
      }
    }
  }
  .eyes6 {
    position: absolute;
    top: 0px;
    left: 0px;
    .eyes6-wrapper {
      position: relative;
    }
    .eye8-bg {
      position: absolute;
      top: -163px;
      left: 0px;
    }

    .eye8-veins {
      position: absolute;
      top: -84px;
      left: 15px;
    }
    .eye8-pupil-orange {
      position: absolute;
      top: -38px;
      left: 75px;
    }
    .eye8-pupil-black {
      position: absolute;
      top: -22px;
      left: 96px;
    }
    .eye8-pupil {
      position: absolute;
      top: -15px;
      left: 113px;
    }
    .eye9-bg {
      position: absolute;
      top: -16px;
      left: 262px;
    }

    .eye9-veins {
      position: absolute;
      top: 0px;
      left: 293px;
    }
    .eye9-pupil-orange {
      position: absolute;
      top: 11px;
      left: 318px;
    }
    .eye9-pupil-black {
      position: absolute;
      top: 20px;
      left: 333px;
    }
    .eye9-pupil {
      position: absolute;
      top: 25px;
      left: 341px;
    }
    .eyes-line1 {
      position: absolute;
      top: 183px;
      left: 1px;
    }
  }
  .eyes7 {
    position: absolute;
    top: 186px;
    right: 0px;
    .eyes7-wrapper {
      position: relative;
    }
    .eye10-bg {
      position: absolute;
      top: -13px;
      right: 411px;
    }

    .eye10-veins {
      position: absolute;
      top: -8px;
      right: 419px;
    }
    .eye10-pupil-orange {
      position: absolute;
      top: 1px;
      right: 442px;
    }
    .eye10-pupil-black {
      position: absolute;
      top: 8px;
      right: 453px;
    }
    .eye10-pupil {
      position: absolute;
      top: 9px;
      right: 458px;
    }
    .eye11-bg {
      position: absolute;
      top: -74px;
      right: 0px;
    }
    .eye11-veins {
      position: absolute;
      top: -56px;
      right: 3px;
    }
    .eye11-pupil-orange {
      position: absolute;
      top: -20px;
      right: 90px;
    }
    .eye11-pupil-black {
      position: absolute;
      top: 0px;
      right: 127px;
    }
    .eye11-pupil {
      position: absolute;
      top: 4px;
      right: 160px;
    }
    .eye12-bg {
      position: absolute;
      top: -313px;
      right: 0px;
    }
    .eye12-veins {
      position: absolute;
      top: -290px;
      right: 0px;
    }
    .eye12-pupil-orange {
      position: absolute;
      top: -260px;
      right: 50px;
    }
    .eye12-pupil-black {
      position: absolute;
      top: -232px;
      right: 88px;
    }
    .eye12-pupil {
      position: absolute;
      top: -229px;
      right: 107px;
    }
  }
}
///////////////////////////////
.veins {
  img {
    transition: opacity 2s linear;
  }
  &-pseudo {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 99;
  }
}
///////////////////////////////
.eye_bg,
.pupil_big,
.pupil {
  transition: transform 1.5s ease-out, scale 0.5s linear;
  // transition: transform 2s linear;
}

.custom-cursor-container {
  opacity: 0;
  transition: opacity 0.6s ease;
  position: relative;
  z-index: 55555555;
  .custom-cursor {
    top: -40px;
    left: -40px;
    position: fixed;
    width: 81px;
    height: 111px;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    will-change: transform;
    background: url(../img/eye_irritant.png) no-repeat 0 0;
  }
}
