* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
*:focus-visible {
  outline: -webkit-focus-ring-color auto 0px;
}
*:focus {
  outline: hidden;
}
.anim {
  transition: all ease 0.2s;
}
body {
  width: 100%;
  font-family: "TT Norms Pro";
  color: #000000;
}
button {
  background: transparent;
  border: none;
  cursor: pointer;
}
.container {
  width: 1440px;
  margin: 0 auto;
}
.header_inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 0 0 657px;
}
.header_inner::before {
  position: absolute;
  content: "";
  width: 804px;
  height: 513px;
  top: 0px;
  left: 0px;
  background-image: url(../img/header_bg.svg);
  background-position: -43px 0px;
  background-repeat: no-repeat;
}
.marquee-horizontal {
  position: relative;
  z-index: 200;
  display: flex;
  overflow: hidden;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}
.marquee-horizontal .track-horizontal {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  white-space: nowrap;
  will-change: transform;
}
@keyframes marquee-horizontal {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
.eyes1 {
  position: absolute;
  top: 0px;
  left: 43px;
}
.eyes1-wrapper {
  position: relative;
}
.eyes1 .eye1-1_bg {
  position: absolute;
}
.eyes1 .eye1_veins {
  position: absolute;
  left: 85px;
  top: 0px;
}
.eyes1 .eye1_pupil-orange {
  position: absolute;
  top: -20px;
  left: 130px;
}
.eyes1 .eye1pupil-black {
  position: absolute;
  top: 0px;
  left: 147px;
}
.eyes1 .eye1pupil {
  position: absolute;
  top: 25px;
  left: 160px;
}
.eyes1 .eye2_veins {
  position: absolute;
  top: 32px;
  left: 339px;
}
.eyes1 .eye2_pupil-orange {
  position: absolute;
  top: 65px;
  left: 360px;
}
.eyes1 .eye2pupil-black {
  position: absolute;
  top: 80px;
  left: 375px;
}
.eyes1 .eye2pupil {
  position: absolute;
  top: 89px;
  left: 388px;
}
.eyes1 .eyes-line {
  position: absolute;
  top: 127px;
  left: 135px;
}
.logo {
  padding-top: 15px;
  font-family: "TT Norms Pro";
  font-weight: 700;
  font-size: 54px;
  z-index: 1;
}
.logo:hover .eye-slide_up {
  transform: translateY(-30px);
  transition: all ease 0.2s;
}
.logo:hover .eye-slide_down {
  transform: translateY(30px);
  transition: all ease 0.2s;
}
.schedule {
  position: relative;
  padding: 22px 173px 22px 84px;
  background: #efcb52;
  border-radius: 20px 0px 0px 20px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}
.schedule .schedule_eye {
  position: absolute;
  top: 35px;
  right: 35px;
}
.schedule .eye-slide_up,
.schedule .eye-slide_down {
  transition: all ease 0.2s;
}
.schedule:hover .eye-slide_up {
  transform: translateY(-30px);
}
.schedule:hover .eye-slide_down {
  transform: translateY(30px);
}
.schedule .eyes3 {
  position: absolute;
  top: 63px;
  left: 0px;
}
.schedule .eyes3 .eyes3-wrapper {
  position: relative;
}
.schedule .eyes3 .eye3-veins {
  position: absolute;
  top: 3px;
  left: 5px;
}
.schedule .eyes3 .eye3-pupil-orange {
  position: absolute;
  top: 22px;
  left: 18px;
}
.schedule .eyes3 .eye3-pupil-black {
  position: absolute;
  top: 34px;
  left: 27px;
}
.schedule .eyes3 .eye3-pupil {
  position: absolute;
  top: 39px;
  left: 31px;
}
.yellow_txt {
  color: #efcb52;
}
.sec2 {
  margin-top: 122px;
}
.sec2_inner {
  text-align: center;
  position: relative;
}
.sec2_inner::before {
  position: absolute;
  content: url(../img/arrow1.svg);
  top: 321px;
  left: 292px;
}
.sec2_inner::after {
  position: absolute;
  content: url(../img/arrow2.svg);
  top: 344px;
  left: 621px;
}
.sec2 .marquee-horizontal {
  height: 137px;
}
.sec2 .track-horizontal {
  animation: marquee-horizontal 40s linear infinite;
  /* manipulate the speed of the marquee by changing "40s" line above*/
}
.sec2 .marquee-text {
  margin-right: 8vw;
  flex: 0 0 auto;
  font-weight: 700;
  font-size: 114px;
  line-height: 137px;
  text-transform: uppercase;
}
.sec2 .t2 {
  font-weight: 800;
  font-size: 39px;
  text-transform: uppercase;
}
.sec2 .t3 {
  font-weight: 700;
  font-size: 30px;
}
.register_btn {
  display: inline-block;
  margin-top: 30px;
  padding: 14px 64px;
  background: #efcb52;
  border-radius: 5px;
  font-family: "TT Norms Pro";
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  color: #000000;
  transition: transform 0.7s;
  text-decoration: none;
  z-index: 9;
}
.register_btn:hover {
  transform: scale(1.02) translate(0, -0.15em);
}
.sec3 {
  margin-top: 175px;
}
.sec3_inner {
  display: flex;
  justify-content: space-between;
  gap: 72px;
  position: relative;
}
.sec3 .main_content {
  flex-shrink: 0;
  position: relative;
}
.sec3 .main_content .active {
  display: block;
}
.sec3 .tab {
  display: none;
}
.sec3 .t1 {
  padding-left: 112px;
  font-weight: 800;
  font-size: 100px;
  line-height: 120px;
  text-transform: uppercase;
  margin-bottom: 33px;
}
.sec3 .t2 {
  position: relative;
  padding: 73px 35px 65px 170px;
  background-color: #efcb52;
  border-radius: 0px 20px 20px 0px;
}
.sec3 .t2::before {
  position: absolute;
  content: url(../img/exclamation_mark.svg);
  top: -25px;
  right: -21px;
  width: 62px;
  height: 62px;
}
.sec3 .t2 .schedule_eye {
  position: absolute;
  top: 70px;
  right: 40px;
}
.sec3 .t2 .eye-slide_up,
.sec3 .t2 .eye-slide_down {
  transition: all ease 0.2s;
}
.sec3 .t2:hover .eye-slide_up {
  transform: translateY(-30px);
}
.sec3 .t2:hover .eye-slide_down {
  transform: translateY(30px);
}
.sec3 .t2 .tt1 {
  padding-left: 15px;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  text-transform: uppercase;
}
.sec3 .t2 .tt2 {
  margin-top: 50px;
  max-width: 612px;
  font-weight: 400;
  font-size: 30px;
  line-height: 44px;
}
.sec3 .tabs {
  z-index: 999;
  margin-top: 70px;
  list-style-type: none;
  font-weight: 700;
  font-size: 30px;
  color: #dbdbdb;
}
.sec3 .tabs .active {
  color: #000000;
}
.sec3 .tabs-item {
  margin-bottom: 30px;
  position: relative;
  padding-left: 25px;
  transition: all ease 0.2s;
}
.sec3 .tabs-item::before {
  position: absolute;
  content: "•";
  top: 0px;
  left: 0px;
}
.sec3 .tabs-item:hover {
  color: #000000;
  cursor: pointer;
}
.sec3 .eyes4 {
  position: absolute;
  top: 63px;
  left: 0px;
}
.sec3 .eyes4 .eye4-bg {
  position: absolute;
  top: -12px;
  left: 480px;
}
.sec3 .eyes4 .eyes4-wrapper {
  position: relative;
}
.sec3 .eyes4 .eye4-veins {
  position: absolute;
  top: -8px;
  left: 499px;
}
.sec3 .eyes4 .eye4-pupil-orange {
  position: absolute;
  top: 7px;
  left: 519px;
}
.sec3 .eyes4 .eye4-pupil-black {
  position: absolute;
  top: 12px;
  left: 525px;
}
.sec3 .eyes4 .eye4-pupil {
  position: absolute;
  top: 15px;
  left: 530px;
}
.sec3 .eyes5 {
  position: absolute;
  top: 0px;
  right: 0px;
}
.sec3 .eyes5 .eyes5-wrapper {
  position: relative;
}
.sec3 .eyes5 .eye5-bg {
  position: absolute;
  top: -122px;
  right: 359px;
}
.sec3 .eyes5 .eye5-veins {
  position: absolute;
  top: -121px;
  right: 367px;
}
.sec3 .eyes5 .eye5-pupil-orange {
  position: absolute;
  top: -112px;
  right: 401px;
}
.sec3 .eyes5 .eye5-pupil-black {
  position: absolute;
  top: -98px;
  right: 416px;
}
.sec3 .eyes5 .eye5-pupil {
  position: absolute;
  top: -90px;
  right: 434px;
}
.sec3 .eyes5 .eye6-bg {
  position: absolute;
  bottom: -260px;
  right: 0px;
}
.sec3 .eyes5 .eye6-veins {
  position: absolute;
  top: -306px;
  right: 0px;
}
.sec3 .eyes5 .eye6-pupil-orange {
  position: absolute;
  top: -245px;
  right: 32px;
}
.sec3 .eyes5 .eye6-pupil-black {
  position: absolute;
  top: -230px;
  right: 75px;
}
.sec3 .eyes5 .eye6-pupil {
  position: absolute;
  top: -210px;
  right: 126px;
}
.sec3 .eyes5 .eye7-bg {
  position: absolute;
  top: -209px;
  right: 288px;
}
.sec3 .eyes5 .eye7-veins {
  position: absolute;
  top: -207px;
  right: 292px;
}
.sec3 .eyes5 .eye7-pupil-orange {
  position: absolute;
  top: -198px;
  right: 315px;
}
.sec3 .eyes5 .eye7-pupil-black {
  position: absolute;
  top: -192px;
  right: 325px;
}
.sec3 .eyes5 .eye7-pupil {
  position: absolute;
  top: -187px;
  right: 334px;
}
.sec4 {
  margin-top: 78px;
}
.sec4 .marquee-horizontal {
  height: 114px;
}
.sec4 .track-horizontal {
  animation: marquee-horizontal 40s linear infinite;
  /* manipulate the speed of the marquee by changing "40s" line above*/
}
.sec4 .marquee-text {
  margin-right: 8vw;
  flex: 0 0 auto;
  font-weight: 800;
  font-size: 97px;
  text-transform: uppercase;
}
.sec4-main {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
}
.sec4 .man {
  position: relative;
  max-width: 350px;
}
.sec4 .man .round-text {
  width: 380px;
  height: 380px;
  position: absolute;
  left: 65px;
  top: 25px;
  animation: rotate 40s linear infinite;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-359deg);
  }
}
.sec4 .man svg text {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -2.1px;
}
.sec4 .man-photo {
  width: 232px;
  height: 232px;
  margin: 97px 0px 0px 140px;
  position: relative;
}
.sec4 .man-photo:hover .man-eye-closed {
  visibility: visible;
}
.sec4 .man-photo .man-eye-closed {
  visibility: hidden;
  position: absolute;
  top: 81px;
  right: 79px;
}
.sec4 .txt {
  max-width: 950px;
  font-weight: 700;
  font-size: 30px;
  line-height: 47px;
}
.sec4 .txt .t1 {
  padding: 0px 170px 25px 45px;
}
.sec4 .txt .t2 {
  padding: 23px 160px 40px 45px;
  background: #fff6d9;
  border-radius: 20px 0px 0px 20px;
}
.sec5 {
  margin-top: 259px;
  position: relative;
}
.sec5_wrapper {
  position: relative;
}
.sec5_wrapper::before {
  position: absolute;
  content: "";
  width: 646px;
  height: 735px;
  top: -339px;
  left: 43px;
  background-image: url(../img/sec5_bg.svg);
  background-position: -43px 0px;
  background-repeat: no-repeat;
}
.sec5_wrapper::after {
  position: absolute;
  content: url(../img/arrow3.svg);
  top: -238px;
  left: 716px;
}
.sec5_inner {
  position: relative;
  background: #efcb52;
  border-radius: 20px 20px 0px 0px;
  width: 380px;
  margin: 0 auto;
  text-align: center;
  padding: 21px 0px 60px 0px;
}
.sec5_inner .t1 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}
.sec5_inner .logo {
  margin-top: 163px;
}
.sec5_inner .register_btn {
  position: absolute;
  top: -3px;
  left: 425px;
}
.sec5_inner .schedule_eye {
  position: absolute;
  top: 140px;
  left: 100px;
}
.sec5_inner .schedule_eye svg {
  width: 173px;
  height: 90px;
}
.sec5_inner .schedule_eye-open .eye-slide_up {
  transform: translateY(-30px);
}
.sec5_inner .schedule_eye-open .eye-slide_down {
  transform: translateY(30px);
}
.sec5_inner .eye-slide_up,
.sec5_inner .eye-slide_down {
  transition: all ease 0.2s;
}
.sec5_inner:hover .eye-slide_up {
  transform: translateY(-30px);
}
.sec5_inner:hover .eye-slide_down {
  transform: translateY(30px);
}
.sec5 .eyes6 {
  position: absolute;
  top: 0px;
  left: 233px;
}
.sec5 .eyes6 .eyes6-wrapper {
  position: relative;
}
.sec5 .eyes6 .eye8-bg {
  position: absolute;
  top: -137px;
  left: 0px;
}
.sec5 .eyes6 .eye8-veins {
  position: absolute;
  top: -82px;
  left: 17px;
}
.sec5 .eyes6 .eye8-pupil-orange {
  position: absolute;
  top: -38px;
  left: 75px;
}
.sec5 .eyes6 .eye8-pupil-black {
  position: absolute;
  top: -22px;
  left: 96px;
}
.sec5 .eyes6 .eye8-pupil {
  position: absolute;
  top: -15px;
  left: 113px;
}
.sec5 .eyes6 .eye64-bg {
  position: absolute;
  bottom: -260px;
  right: 0px;
}
.sec5 .eyes6 .eye9-veins {
  position: absolute;
  top: -11px;
  left: 254px;
}
.sec5 .eyes6 .eye9-pupil-orange {
  position: absolute;
  top: 3px;
  left: 283px;
}
.sec5 .eyes6 .eye9-pupil-black {
  position: absolute;
  top: 14px;
  left: 298px;
}
.sec5 .eyes6 .eye9-pupil {
  position: absolute;
  top: 19px;
  left: 311px;
}
.sec5 .eyes6 .eyes-line1 {
  position: absolute;
  top: 151px;
  left: -1px;
}
.sec5 .eyes7 {
  position: absolute;
  bottom: 507px;
  right: 231px;
}
.sec5 .eyes7 .eyes7-wrapper {
  position: relative;
}
.sec5 .eyes7 .eye10-bg {
  position: absolute;
  top: 0px;
  right: 0px;
}
.sec5 .eyes7 .eye10-veins {
  position: absolute;
  top: 320px;
  right: 285px;
}
.sec5 .eyes7 .eye10-pupil-orange {
  position: absolute;
  top: 329px;
  right: 310px;
}
.sec5 .eyes7 .eye10-pupil-black {
  position: absolute;
  top: 338px;
  right: 322px;
}
.sec5 .eyes7 .eye10-pupil {
  position: absolute;
  top: 340px;
  right: 327px;
}
.sec5 .eyes7 .eye11-veins {
  position: absolute;
  top: 240px;
  right: 3px;
}
.sec5 .eyes7 .eye11-pupil-orange {
  position: absolute;
  top: 254px;
  right: 74px;
}
.sec5 .eyes7 .eye11-pupil-black {
  position: absolute;
  top: 271px;
  right: 105px;
}
.sec5 .eyes7 .eye11-pupil {
  position: absolute;
  top: 276px;
  right: 132px;
}
.sec5 .eyes7 .eye12-veins {
  position: absolute;
  top: 5px;
  right: 0px;
}
.sec5 .eyes7 .eye12-pupil-orange {
  position: absolute;
  top: 25px;
  right: 40px;
}
.sec5 .eyes7 .eye12-pupil-black {
  position: absolute;
  top: 52px;
  right: 76px;
}
.sec5 .eyes7 .eye12-pupil {
  position: absolute;
  top: 52px;
  right: 96px;
}
.veins img {
  transition: opacity 2s linear;
}
.veins-pseudo {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 99;
}
.eye_bg,
.pupil_big,
.pupil {
  transition: transform 1.5s ease-out, scale 0.5s linear;
}
.custom-cursor-container {
  opacity: 0;
  transition: opacity 0.6s ease;
  position: relative;
  z-index: 55555555;
}
.custom-cursor-container .custom-cursor {
  top: -40px;
  left: -40px;
  position: fixed;
  width: 81px;
  height: 111px;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  will-change: transform;
  background: url(../img/eye_irritant.png) no-repeat 0 0;
}
