* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
*:focus-visible {
  outline: -webkit-focus-ring-color auto 0px;
}
*:focus {
  outline: hidden;
}
.anim {
  transition: all ease 0.2s;
}
@keyframes move {
  0% {
    transform: translateX(initial);
  }
  25% {
    transform: translateX(-7px);
  }
  50% {
    transform: translateX(0px);
  }
  75% {
    transform: translateX(7px);
  }
  100% {
    transform: translateX(initial);
  }
}
body {
  font-family: "TT Norms Pro";
  color: #000000;
  overflow-x: hidden;
  overflow-anchor: none;
}
button {
  background: transparent;
  border: none;
  cursor: pointer;
}
.container {
  width: 100vw;
  margin: 0 auto;
  position: relative;
}
.eye1-mobile,
.eye2-mobile,
.eye3-mobile,
.eye4-mobile,
.eye5-mobile,
.eye6-mobile,
.eye7-mobile,
.eye8-mobile,
.eye9-mobile,
.eye10-mobile,
.eye11-mobile,
.eye12-mobile {
  display: none;
}
.dot img {
  position: relative;
  top: -20px;
  left: 70px;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
}
.header .eye-slide_up,
.header .eye-slide_down {
  transition: all ease 0.2s;
}
.header:hover .eye-slide_up {
  transform: translateY(-30px);
}
.header:hover .eye-slide_down {
  transform: translateY(30px);
}
.header-wrapper {
  background-color: #ffffff;
}
.header_inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 27px 67px 15px 127px;
}
.sec2-wrapper,
.sec5-wrapper {
  position: relative;
  background: #b4a0ff;
  background: linear-gradient(90deg, #b4a0ff 0%, #ddb3ff 54%, #ffc6ff 100%);
}
.marquee-horizontal {
  position: relative;
  z-index: 200;
  display: flex;
  overflow: hidden;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}
.marquee-horizontal .track-horizontal {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  white-space: nowrap;
  will-change: transform;
}
@keyframes marquee-horizontal {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
.eyes1 {
  position: absolute;
  top: 436px;
  left: -65px;
}
.eyes1-wrapper {
  position: relative;
}
.eyes1 .eye1-1_bg {
  position: absolute;
}
.eyes1 .eye1_veins {
  position: absolute;
  left: 8px;
  top: 82px;
}
.eyes1 .eye1_pupil-orange {
  position: absolute;
  top: 135px;
  left: 80px;
}
.eyes1 .eye1-pupil-black {
  position: absolute;
  top: 150px;
  left: 100px;
}
.eyes1 .eye1pupil {
  position: absolute;
  top: 155px;
  left: 130px;
}
.eyes1 .eye2_veins {
  position: absolute;
  top: 269px;
  left: 352px;
}
.eyes1 .eye2_pupil-orange {
  position: absolute;
  top: 290px;
  left: 380px;
}
.eyes1 .eye2-pupil-black {
  position: absolute;
  top: 302px;
  left: 398px;
}
.eyes1 .eye2pupil {
  position: absolute;
  top: 309px;
  left: 412px;
}
.eyes1 .eyes-line {
  position: absolute;
  top: 127px;
  left: 135px;
}
.logo {
  position: relative;
}
.logo .logo1-text-eye {
  position: absolute;
  top: 0px;
  left: 140px;
}
.logo:hover .logo1-text-eye circle {
  animation: move 0.8s linear;
}
.schedule {
  position: relative;
  padding: 0px 70px 0px 0px;
  font-weight: 1000;
  font-size: 31px;
  line-height: 37px;
  letter-spacing: 0.3px;
  color: #a860c1;
}
.schedule .eyes3 {
  position: absolute;
  top: -3px;
  left: -104px;
}
.schedule .eyes3 .eyes3-wrapper {
  position: relative;
}
.schedule .eyes3 .eye3-veins {
  position: absolute;
  top: 3px;
  left: 5px;
}
.schedule .eyes3 .eye3-pupil-orange {
  position: absolute;
  top: 14px;
  left: 17px;
}
.schedule .eyes3 .eye3-pupil-black {
  position: absolute;
  top: 25px;
  left: 27px;
}
.schedule .eyes3 .eye3-pupil {
  position: absolute;
  top: 28px;
  left: 31px;
}
.yellow_txt {
  color: #efcb52;
}
.sec2 {
  margin-top: 118px;
}
.sec2-wrapper {
  border-radius: 0px 0px 125px 188px;
}
.sec2_inner {
  padding-top: 141px;
  padding-bottom: 186px;
  text-align: center;
  position: relative;
}
.sec2_inner::after {
  position: absolute;
  content: url(../img/arrow2.svg);
  top: 615px;
  left: calc(46vw - 130px);
}
.sec2 .t1 {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 96px;
}
.sec2 .dryeye {
  overflow: hidden;
}
.sec2 .dryeye .dryeyetitle {
  transform: translateY(150px);
  transition: transform 1s linear;
}
.sec2 .t2 {
  margin-top: 0px;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
}
.sec2 .eyes4 {
  position: absolute;
  bottom: -276px;
  left: 49vw;
  z-index: 99;
}
.sec2 .eyes4 .eye4-bg {
  position: absolute;
  top: -12px;
  left: 0px;
}
.sec2 .eyes4 .eyes4-wrapper {
  position: relative;
}
.sec2 .eyes4 .eye4-veins {
  position: absolute;
  top: -12px;
  left: 0px;
}
.sec2 .eyes4 .eye4-pupil-orange {
  position: absolute;
  top: 0px;
  left: 15px;
}
.sec2 .eyes4 .eye4-pupil-black {
  position: absolute;
  top: 12px;
  left: 30px;
}
.sec2 .eyes4 .eye4-pupil {
  position: absolute;
  top: 15px;
  left: 35px;
}
.sec2 .eyes5 {
  position: absolute;
  top: 442px;
  right: -174px;
}
.sec2 .eyes5 .eyes5-wrapper {
  position: relative;
}
.sec2 .eyes5 .eye5-bg {
  position: absolute;
  top: 374px;
  right: 469px;
}
.sec2 .eyes5 .eye5-veins {
  position: absolute;
  top: 374px;
  right: 477px;
}
.sec2 .eyes5 .eye5-pupil-orange {
  position: absolute;
  top: 389px;
  right: 520px;
}
.sec2 .eyes5 .eye5-pupil-black {
  position: absolute;
  top: 398px;
  right: 536px;
}
.sec2 .eyes5 .eye5-pupil {
  position: absolute;
  top: 404px;
  right: 553px;
}
.sec2 .eyes5 .eye6-bg {
  position: absolute;
  top: -31px;
  right: -49px;
}
.sec2 .eyes5 .eye6-veins {
  position: absolute;
  top: 0px;
  right: 0px;
}
.sec2 .eyes5 .eye6-pupil-orange {
  position: absolute;
  top: 89px;
  right: 180px;
}
.sec2 .eyes5 .eye6-pupil-black {
  position: absolute;
  top: 119px;
  right: 237px;
}
.sec2 .eyes5 .eye6-pupil {
  position: absolute;
  top: 144px;
  right: 293px;
}
.sec2 .eyes5 .eye7-bg {
  position: absolute;
  top: 180px;
  right: 476px;
}
.sec2 .eyes5 .eye7-veins {
  position: absolute;
  top: 180px;
  right: 480px;
}
.sec2 .eyes5 .eye7-pupil-orange {
  position: absolute;
  top: 187px;
  right: 502px;
}
.sec2 .eyes5 .eye7-pupil-black {
  position: absolute;
  top: 191px;
  right: 510px;
}
.sec2 .eyes5 .eye7-pupil {
  position: absolute;
  top: 197px;
  right: 519px;
}
.register_btn {
  position: relative;
  margin: 72px 0 0 0px;
  display: inline-block;
  padding: 14px 64px;
  background: #000000;
  border-radius: 5px;
  font-family: "TT Norms Pro";
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  text-transform: capitalize;
  color: #f2cdff;
  transition: transform 0.7s;
  text-decoration: none;
  z-index: 9;
}
.register_btn::before {
  position: absolute;
  content: "";
  width: 97%;
  height: 90%;
  top: 6px;
  left: 6px;
  border: 3px solid #000000;
  border-radius: 5px;
}
.register_btn:hover {
  transform: scale(1.02) translate(-5px, -6px);
}
.sec3 {
  margin-top: 452px;
}
.sec3_inner {
  position: relative;
}
.sec3 .main_content {
  flex-shrink: 0;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.sec3 .main_content .active {
  display: block;
}
.sec3 .tab {
  display: none;
}
.sec3 .t1 {
  background-color: #ddb4ff;
  color: transparent;
  text-shadow: 3px 3px 3px rgba(255, 255, 255, 0.5);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  padding-left: 105px;
  font-weight: 800;
  font-size: 97px;
  line-height: 116px;
  text-transform: uppercase;
  margin-bottom: 43px;
  flex: 0 0 50%;
}
.sec3 .t2 {
  margin-top: 212px;
  position: relative;
  padding: 130px 0px 111px 0px;
  background: #b4a0ff;
  background: linear-gradient(90deg, #b4a0ff 0%, #ddb3ff 54%, #ffc6ff 100%);
  border-radius: 0px 20px 20px 0px;
  flex: 0 0 100%;
  text-align: center;
}
.sec3 .t2 .schedule_eye {
  position: absolute;
}
.sec3 .t2 .schedule_eye2 {
  top: 125px;
  right: calc(15vw - 112px);
}
.sec3 .t2 .schedule_eye2::before {
  position: absolute;
  content: url(../img/sec3-bg2.svg);
  top: -294px;
  right: -104px;
}
.sec3 .t2 .schedule_eye1 {
  top: 125px;
  left: calc(15vw - 112px);
}
.sec3 .t2 .schedule_eye1::before {
  position: absolute;
  content: url(../img/sec3-bg1.svg);
  top: -125px;
  left: -102px;
}
.sec3 .t2 .schedule_eye svg {
  width: 225px;
  height: 117px;
}
.sec3 .t2 .eye-slide_up,
.sec3 .t2 .eye-slide_down {
  transition: all ease 0.2s;
}
.sec3 .t2:hover .eye-slide_up {
  transform: translateY(-30px);
}
.sec3 .t2:hover .eye-slide_down {
  transform: translateY(30px);
}
.sec3 .t2 .tt2 {
  margin-top: 27px;
  font-weight: 400;
  font-size: 30px;
  line-height: 44px;
}
.sec3 .tabs {
  position: relative;
  list-style-type: none;
  font-weight: 500;
  font-size: 30px;
  flex: 0 0 40%;
  background: #b4a0ff;
  background: linear-gradient(90deg, #b4a0ff 0%, #ddb3ff 54%, #ffc6ff 100%);
  border-radius: 20px;
  padding: 63px 25px 43px 40px;
}
.sec3 .tabs::after {
  position: absolute;
  content: "";
  width: 101%;
  height: 98%;
  bottom: -15px;
  right: -20px;
  border: 3px solid #000000;
  border-radius: 20px;
}
.sec3 .tabs .schedule_eye {
  position: absolute;
  top: 73px;
  right: 44px;
}
.sec3 .tabs .eye-slide_up,
.sec3 .tabs .eye-slide_down {
  transition: all ease 0.2s;
  fill: #f3bfff;
}
.sec3 .tabs:hover .eye-slide_up {
  transform: translateY(-30px);
}
.sec3 .tabs:hover .eye-slide_down {
  transform: translateY(30px);
}
.sec3 .tabs .active {
  color: #000000;
}
.sec3 .tabs-item {
  margin-bottom: 28px;
  position: relative;
  padding-left: 40px;
}
.sec3 .tabs-item::before {
  position: absolute;
  content: url(../img/tabs.svg);
  top: 0px;
  left: 0px;
}
.sec3 .eyes33 {
  position: absolute;
  top: 276px;
  left: 177px;
}
.sec3 .eyes33-wrapper {
  position: relative;
}
.sec3 .eyes33 .eyes33-bg {
  position: absolute;
}
.sec3 .eyes33 .eye331-veins {
  position: absolute;
  left: 20px;
  top: 14px;
}
.sec3 .eyes33 .eye331-pupil-orange {
  position: absolute;
  top: 29px;
  left: 44px;
}
.sec3 .eyes33 .eye331-pupil-black {
  position: absolute;
  top: 38px;
  left: 56px;
}
.sec3 .eyes33 .eye331-pupil {
  position: absolute;
  top: 45px;
  left: 67px;
}
.sec3 .eyes33 .eye332-veins {
  position: absolute;
  top: 54px;
  left: 172px;
}
.sec3 .eyes33 .eye332-pupil-orange {
  position: absolute;
  top: 68px;
  left: 198px;
}
.sec3 .eyes33 .eye332-pupil-black {
  position: absolute;
  top: 77px;
  left: 209px;
}
.sec3 .eyes33 .eye332-pupil {
  position: absolute;
  top: 82px;
  left: 220px;
}
.sec4 {
  margin-top: 175px;
}
.sec4 .marquee-horizontal {
  height: 114px;
}
.sec4 .track-horizontal {
  animation: marquee-horizontal 40s linear infinite;
}
.sec4 .marquee-text {
  margin-right: 2vw;
  flex: 0 0 auto;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 60px;
  line-height: 72px;
}
.sec4 .marquee-text .show-format {
  display: inline-block;
  height: 65px;
}
.sec4 .marquee-text .show-format img {
  width: 65px;
  height: 65px;
}
.sec4-main {
  margin-top: 255px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.sec4 .man {
  position: relative;
  width: 30%;
}
.sec4 .man .veins {
  padding: 3px 0;
}
.sec4 .man .maneye {
  position: absolute;
  width: 17px;
}
.sec4 .man .maneye .pupil_big,
.sec4 .man .maneye .pupil {
  display: none;
}
.sec4 .man .maneye1 {
  top: 83px;
  left: 80px;
}
.sec4 .man .maneye1-pupil {
  position: absolute;
  top: 4px;
  left: 5px;
  transition: none;
}
.sec4 .man .maneye2 {
  top: 79px;
  left: 118px;
  transform: rotate(-9deg);
}
.sec4 .man .maneye2-pupil {
  position: absolute;
  top: 3px;
  left: 6px;
  transition: none;
}
.sec4 .man .round-text {
  width: 325px;
  height: 325px;
  position: absolute;
  left: -63px;
  top: -61px;
  animation: rotate 40s linear infinite;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-359deg);
  }
}
.sec4 .man svg text {
  font-size: 25px;
  font-weight: 700;
  letter-spacing: -1.2px;
}
.sec4 .man-photo {
  width: 232px;
  height: 232px;
  margin: 2px 0px 0px 170px;
  position: relative;
}
.sec4 .man-photo:hover .man-eye-closed {
  visibility: visible;
}
.sec4 .man-photo:hover .maneye2 {
  visibility: hidden;
}
.sec4 .man-photo .man-eye-closed {
  visibility: hidden;
  position: absolute;
  top: 0px;
  right: 34px;
}
.sec4 .zoom-photo {
  width: 30%;
  padding: 240px 0 0 109px;
}
.sec4 .t1 {
  width: 70%;
  padding: 0px 8% 25px 8%;
}
.sec4 .t1 .tt1 {
  font-weight: 700;
  font-size: 40px;
}
.sec4 .t1 .tt2 {
  font-weight: 400;
  font-size: 30px;
  line-height: 47px;
  margin-top: 12px;
}
.sec4 .t2 {
  position: relative;
  padding: 40px 140px 106px 58px;
  margin-top: 233px;
  background: #b4a0ff;
  background: linear-gradient(90deg, #b4a0ff 0%, #ddb3ff 54%, #ffc6ff 100%);
  border-radius: 20px 0px 0px 20px;
  width: 66%;
}
.sec4 .t2 .tt1 {
  font-weight: 700;
  font-size: 40px;
}
.sec4 .t2 .tt2 {
  font-weight: 400;
  font-size: 30px;
  line-height: 47px;
  margin-top: 12px;
}
.sec4 .t2::after {
  position: absolute;
  content: "";
  width: 101%;
  height: 98%;
  bottom: 14px;
  right: 0px;
  border: 3px solid #000000;
  border-right: none;
  border-radius: 20px 0px 0px 20px;
}
.sec5 {
  margin-top: 348px;
  position: relative;
}
.sec5-wrapper {
  position: relative;
  border-radius: 27px 188px 20px 0px;
}
.sec5-wrapper::before {
  position: absolute;
  content: "";
  width: 673px;
  height: 949px;
  top: -445px;
  left: 0px;
  background-image: url(../img/sec5_bg.svg);
  background-position: -43px 0px;
  background-repeat: no-repeat;
}
.sec5_inner {
  position: relative;
  margin: 0 auto;
  width: 300px;
  text-align: center;
  padding: 50px 0px 60px 0px;
}
.sec5_inner::before {
  position: absolute;
  content: url(../img/arrow4.svg);
  top: 160px;
  left: 270px;
}
.sec5_inner::after {
  position: absolute;
  content: url(../img/arrow3.svg);
  top: -324px;
  right: -333px;
}
.sec5_inner .t1 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}
.sec5_inner .sec5-logo {
  margin-top: 243px;
  position: relative;
}
.sec5_inner .sec5-logo .bottom-logo-eye {
  position: absolute;
  top: 56px;
  left: 133px;
}
.sec5_inner .sec5-logo:hover .bottom-logo-eye circle {
  animation: move 0.8s linear;
}
.sec5_inner .register_btn {
  position: absolute;
  top: -23px;
  left: 390px;
}
.sec5_inner .schedule_eye {
  position: absolute;
  top: 110px;
  left: 47px;
}
.sec5_inner .schedule_eye svg {
  width: 225px;
  height: 117px;
}
.sec5_inner .schedule_eye-open .eye-slide_up {
  transform: translateY(-30px);
}
.sec5_inner .schedule_eye-open .eye-slide_down {
  transform: translateY(30px);
}
.sec5_inner .eye-slide_up,
.sec5_inner .eye-slide_down {
  transition: all ease 0.2s;
}
.sec5_inner:hover .eye-slide_up {
  transform: translateY(-30px);
}
.sec5_inner:hover .eye-slide_down {
  transform: translateY(30px);
}
.sec5 .eye10 {
  position: absolute;
  top: 170px;
  left: 408px;
}
.sec5 .eye10 .eye10-wraper {
  position: relative;
}
.sec5 .eye10 .eye10-bg {
  position: absolute;
  top: 0px;
  right: 0px;
}
.sec5 .eye10 .eye10-veins {
  position: absolute;
  top: 3px;
  right: 6px;
}
.sec5 .eye10 .eye10-pupil-orange {
  position: absolute;
  top: 9px;
  right: 20px;
}
.sec5 .eye10 .eye10-pupil-black {
  position: absolute;
  top: 16px;
  right: 28px;
}
.sec5 .eye10 .eye10-pupil {
  position: absolute;
  top: 20px;
  right: 32px;
}
.sec5 .eyes6 {
  position: absolute;
  top: 0px;
  left: 0px;
}
.sec5 .eyes6 .eyes6-wrapper {
  position: relative;
}
.sec5 .eyes6 .eye8-bg {
  position: absolute;
  top: -163px;
  left: 0px;
}
.sec5 .eyes6 .eye8-veins {
  position: absolute;
  top: -84px;
  left: 15px;
}
.sec5 .eyes6 .eye8-pupil-orange {
  position: absolute;
  top: -45px;
  left: 75px;
}
.sec5 .eyes6 .eye8-pupil-black {
  position: absolute;
  top: -29px;
  left: 96px;
}
.sec5 .eyes6 .eye8-pupil {
  position: absolute;
  top: -15px;
  left: 113px;
}
.sec5 .eyes6 .eye9-bg {
  position: absolute;
  top: -16px;
  left: 262px;
}
.sec5 .eyes6 .eye9-veins {
  position: absolute;
  top: 0px;
  left: 293px;
}
.sec5 .eyes6 .eye9-pupil-orange {
  position: absolute;
  top: 11px;
  left: 318px;
}
.sec5 .eyes6 .eye9-pupil-black {
  position: absolute;
  top: 20px;
  left: 333px;
}
.sec5 .eyes6 .eye9-pupil {
  position: absolute;
  top: 25px;
  left: 341px;
}
.sec5 .eyes6 .eyes-line1 {
  position: absolute;
  top: 183px;
  left: 1px;
}
.sec5 .eyes7 {
  position: absolute;
  top: 252px;
  right: -87px;
}
.sec5 .eyes7 .eyes7-wrapper {
  position: relative;
}
.sec5 .eyes7 .eye11-bg {
  position: absolute;
  top: -74px;
  right: 0px;
}
.sec5 .eyes7 .eye11-veins {
  position: absolute;
  top: -56px;
  right: 3px;
}
.sec5 .eyes7 .eye11-pupil-orange {
  position: absolute;
  top: -20px;
  right: 90px;
}
.sec5 .eyes7 .eye11-pupil-black {
  position: absolute;
  top: 0px;
  right: 127px;
}
.sec5 .eyes7 .eye11-pupil {
  position: absolute;
  top: 4px;
  right: 160px;
}
.veins img,
.veinsM img {
  transition: opacity 2s linear;
}
.veins-pseudo,
.veinsM-pseudo {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 99;
}
.eye_bg,
.pupil_big,
.pupil {
  transition: transform 1.5s ease-out;
}
.eye_bgM,
.pupil_bigM,
.pupilM {
  transition: transform 0.5s ease-out;
}
.pupil_bigS {
  transition: transform 0.5s linear;
}
.scalle {
  transform: scale(1.1);
}
.custom-cursor-container {
  opacity: 0;
  transition: opacity 0.6s ease;
  position: relative;
  z-index: 55555555;
}
.custom-cursor-container .custom-cursor {
  top: -40px;
  left: -40px;
  position: fixed;
  width: 215px;
  height: 168px;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  will-change: transform;
  background: url(../img/eye_irritant.png) no-repeat 0 0;
}
@media (min-width: 320px) and (max-width: 1140px) {
  .eyes1,
  .eyes3,
  .eyes4,
  .eyes5,
  .eyes6,
  .eyes7,
  .eye10 {
    display: none;
  }
  .header_inner {
    flex-direction: column;
    padding: 15px 30px 15px 30px;
  }
  .logo_eye {
    top: 12px;
    right: 27px;
  }
  .logo_eye svg {
    width: 33px;
    height: 15px;
  }
  .logo {
    position: relative;
  }
  .logo img {
    width: 225px;
  }
  .logo .logo1-text-eye {
    top: -2px;
    left: 101px;
  }
  .schedule {
    padding: 0px;
    font-weight: 1000;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
  }
  .sec2-wrapper {
    border-radius: 0px 0px 0px 188px;
  }
  .sec2_inner {
    padding-top: 29px;
    padding-bottom: 372px;
  }
  .sec2_inner::after {
    content: url(../img/arrow2-mobile.svg);
    top: 490px;
    left: calc(50% - 142px);
  }
  .sec2 .tt1 {
    font-weight: 800;
    font-size: 60px;
    line-height: 72px;
  }
  .sec2 .dryeye img {
    height: 44px;
  }
  .sec2 .t2 {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    padding: 8px 40px 0px 48px;
    text-align: center;
  }
  .sec2 .register_btn {
    margin: 45px 0 0 0px;
  }
  .sec3 {
    margin-top: 77px;
  }
  .sec3 .main_content {
    flex-direction: column;
  }
  .sec3 .t1 {
    padding-left: 50px;
    font-weight: 800;
    font-size: 60px;
    line-height: 72px;
    margin-bottom: 26px;
  }
  .sec3 .t2 {
    padding: 28px 46px 37px 50px;
    border-radius: 0;
    width: 100%;
    margin-top: 230px;
  }
  .sec3 .t2 .schedule_eye {
    top: 50%;
  }
  .sec3 .t2 .schedule_eye1 {
    left: calc(10vw - 25px);
  }
  .sec3 .t2 .schedule_eye1::before {
    content: "";
    display: none;
  }
  .sec3 .t2 .schedule_eye2 {
    right: calc(10vw - 25px);
  }
  .sec3 .t2 .schedule_eye2::before {
    content: "";
    display: none;
  }
  .sec3 .t2 .schedule_eye svg {
    height: 25px;
    width: 50px;
  }
  .sec3 .t2 .tt1 img {
    width: 300px;
  }
  .sec3 .t2 .tt2 {
    max-width: none;
    margin-top: 16px;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
  }
  .sec3 .tabs {
    position: relative;
    margin-top: 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    padding-left: 39px;
    width: 95%;
    margin-left: 1%;
  }
  .sec3 .tabs .tabs-item {
    margin-bottom: 20px;
  }
  .sec3 .tabs::after {
    width: 99%;
    height: 98%;
    bottom: -12px;
    right: -12px;
  }
  .sec3 .tabs .schedule_eye {
    top: 90px;
    right: 15px;
  }
  .sec3 .eyes33 {
    top: 600px;
    left: 70px;
  }
  .sec4 {
    margin-top: 9px;
  }
  .sec4-main {
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  .sec4 .marquee-text {
    font-weight: 800;
    font-size: 60px;
    line-height: 72px;
  }
  .sec4 .marquee-text .show-format img {
    width: 45px;
    height: 45px;
  }
  .sec4 .zoom-photo {
    order: 1;
    width: initial;
    padding: 0;
  }
  .sec4 .zoom-photo img {
    width: 181px;
  }
  .sec4 .t1 {
    order: 2;
    margin: 40px 6% 0 8%;
    padding: 0;
  }
  .sec4 .t1 .tt1 {
    font-weight: 700;
    font-size: 30px;
    line-height: 47px;
  }
  .sec4 .t1 .tt2 {
    font-weight: 400;
    font-size: 20px;
    line-height: 33px;
  }
  .sec4 .man {
    order: 3;
    width: initial;
  }
  .sec4 .man-photo {
    width: 144px;
    height: 144px;
    margin: 90px 0px 0px 0px;
  }
  .sec4 .man-photo .img {
    width: 144px;
  }
  .sec4 .man-eye-closed {
    width: 144px;
    right: 0px !important;
  }
  .sec4 .man .round-text {
    width: 220px;
    height: 220px;
    left: -38px;
    top: -39px;
  }
  .sec4 .man .veins {
    width: 12px;
  }
  .sec4 .man .maneye1 {
    top: 58px;
    left: 56px;
  }
  .sec4 .man .maneye1-pupil {
    top: 2px;
    width: 4px;
    transition: none;
  }
  .sec4 .man .maneye2 {
    top: 54px;
    left: 85px;
  }
  .sec4 .man .maneye2-pupil {
    top: 2px;
    width: 4px;
    transition: none;
  }
  .sec4 .t2 {
    order: 4;
    width: initial;
    margin: 70px 0 0 5%;
    padding: 20px 40px 90px 25px;
  }
  .sec4 .t2 .tt1 {
    font-weight: 700;
    font-size: 30px;
    line-height: 47px;
  }
  .sec4 .t2 .tt2 {
    font-weight: 400;
    font-size: 20px;
    line-height: 31px;
  }
  .sec5 {
    margin-top: 30px;
  }
  .sec5-wrapper {
    border-radius: 0px 188px 0px 0px;
  }
  .sec5-wrapper::before {
    display: none;
  }
  .sec5_inner {
    padding: 170px 0px 50px 0%;
    text-align: initial;
  }
  .sec5_inner:hover .eye-slide_up {
    transform: none;
  }
  .sec5_inner:hover .eye-slide_down {
    transform: none;
  }
  .sec5_inner::after {
    display: none;
  }
  .sec5_inner::before {
    top: 380px;
    left: -60px;
    content: url(../img/arrow4-mobile.svg);
  }
  .sec5_inner .sec5-logo {
    margin-top: 442px;
    text-align: center;
  }
  .sec5_inner .schedule_eye {
    top: 155px;
    left: 55px;
  }
  .sec5 .eye10 {
    top: 410px;
    left: 150px;
  }
  .sec5 .register_btn {
    top: 240px;
    left: calc(50% - 100px);
  }
  .eye1-mobile,
  .eye2-mobile,
  .eye3-mobile,
  .eye4-mobile,
  .eye5-mobile,
  .eye6-mobile,
  .eye7-mobile,
  .eye8-mobile,
  .eye9-mobile,
  .eye10-mobile,
  .eye11-mobile,
  .eye12-mobile {
    display: initial;
    position: absolute;
  }
  .eye1-mobile {
    top: -4px;
    left: 49%;
  }
  .eye1-mobile .eye1-wrapper {
    position: relative;
  }
  .eye1-mobile .eye1-bg {
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .eye1-mobile .eye1-veins {
    position: absolute;
    top: 1px;
    left: 2px;
  }
  .eye1-mobile .eye1-pupil-orange {
    position: absolute;
    top: 6px;
    left: 6px;
  }
  .eye1-mobile .eye1-pupil-black {
    position: absolute;
    top: 1px;
    left: 9px;
  }
  .eye1-mobile .eye1-pupil {
    position: absolute;
    top: 10px;
    left: 11px;
  }
  .eye2-mobile {
    top: 212px;
    right: 26%;
  }
  .eye2-mobile .eye2-wrapper {
    position: relative;
  }
  .eye2-mobile .eye2-bg {
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .eye2-mobile .eye2-veins {
    position: absolute;
    top: 1px;
    left: 14px;
  }
  .eye2-mobile .eye2-pupil-orange {
    position: absolute;
    top: 10px;
    left: 31px;
  }
  .eye2-mobile .eye2-pupil-black {
    position: absolute;
    top: 15px;
    left: 38px;
  }
  .eye2-mobile .eye2-pupil {
    position: absolute;
    top: 20px;
    left: 45px;
  }
  .eye3-mobile {
    top: 413px;
    left: 0px;
  }
  .eye3-mobile .eye3-wrapper {
    position: relative;
  }
  .eye3-mobile .eye3-bg {
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .eye3-mobile .eye3-veins {
    position: absolute;
    top: 35px;
    left: 0px;
  }
  .eye3-mobile .eye3-pupil-orange {
    position: absolute;
    top: 100px;
    left: 0px;
  }
  .eye3-mobile .eye3-pupil-black {
    position: absolute;
    top: 115px;
    left: 0px;
  }
  .eye3-mobile .eye3-pupil {
    position: absolute;
    top: 135px;
    left: 4px;
  }
  .eye3-mobile .eye4-veins {
    position: absolute;
    top: 117px;
    left: 84px;
  }
  .eye3-mobile .eye4-pupil-orange {
    position: absolute;
    top: 152px;
    left: 104px;
  }
  .eye3-mobile .eye4-pupil-black {
    position: absolute;
    top: 164px;
    left: 115px;
  }
  .eye3-mobile .eye4-pupil {
    position: absolute;
    top: 178px;
    left: 125px;
  }
  .eye3-mobile .eye-line {
    position: absolute;
    top: 172px;
    left: 0px;
    z-index: 1;
  }
  .eye5-mobile {
    top: 370px;
    right: 244px;
  }
  .eye5-mobile .eye5-wrapper {
    position: relative;
  }
  .eye5-mobile .eye5-bg {
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .eye5-mobile .eye5-veins {
    position: absolute;
    top: 68px;
    left: 83px;
  }
  .eye5-mobile .eye5-pupil-orange {
    position: absolute;
    top: 135px;
    left: 110px;
  }
  .eye5-mobile .eye5-pupil-black {
    position: absolute;
    top: 160px;
    left: 124px;
  }
  .eye5-mobile .eye5-pupil {
    position: absolute;
    top: 190px;
    left: 140px;
  }
  .eye6-mobile {
    top: 650px;
    left: calc(45vw - 33px);
  }
  .eye6-mobile .eye6-wrapper {
    position: relative;
  }
  .eye6-mobile .eye6-bg {
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .eye6-mobile .eye6-veins {
    position: absolute;
    top: 6px;
    left: 8px;
  }
  .eye6-mobile .eye6-pupil-orange {
    position: absolute;
    top: 12px;
    left: 21px;
  }
  .eye6-mobile .eye6-pupil-black {
    position: absolute;
    top: 18px;
    left: 27px;
  }
  .eye6-mobile .eye6-pupil {
    position: absolute;
    top: 22px;
    left: 33px;
  }
  .eye7-mobile {
    bottom: 0px;
    right: 40%;
  }
  .eye7-mobile .eye7-wrapper {
    position: relative;
  }
  .eye7-mobile .eye7-bg {
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .eye7-mobile .eye7-veins {
    position: absolute;
    top: 12px;
    left: 18px;
  }
  .eye7-mobile .eye7-pupil-orange {
    position: absolute;
    top: 26px;
    left: 44px;
  }
  .eye7-mobile .eye7-pupil-black {
    position: absolute;
    top: 40px;
    left: 60px;
  }
  .eye7-mobile .eye7-pupil {
    position: absolute;
    top: 43px;
    left: 70px;
  }
  .eye8-mobile {
    top: -93px;
    right: 288px;
  }
  .eye8-mobile .eye8-wrapper {
    position: relative;
  }
  .eye8-mobile .eye8-bg {
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .eye8-mobile .eye8-veins {
    position: absolute;
    top: 36px;
    left: 42px;
  }
  .eye8-mobile .eye8-pupil-orange {
    position: absolute;
    top: 5px;
    left: 79px;
  }
  .eye8-mobile .eye8-pupil-black {
    position: absolute;
    top: 0px;
    left: 90px;
  }
  .eye8-mobile .eye8-pupil {
    position: absolute;
    top: 0px;
    left: 105px;
  }
  .eye8-mobile .eye-line1 {
    position: absolute;
    top: 159px;
    left: 36px;
  }
  .eye9-mobile {
    top: -61px;
    right: 148px;
  }
  .eye9-mobile .eye9-wrapper {
    position: relative;
  }
  .eye9-mobile .eye9-bg {
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .eye9-mobile .eye9-veins {
    position: absolute;
    top: 27px;
    left: 35px;
  }
  .eye9-mobile .eye9-pupil-orange {
    position: absolute;
    top: 15px;
    left: 61px;
  }
  .eye9-mobile .eye9-pupil-black {
    position: absolute;
    top: 14px;
    left: 69px;
  }
  .eye9-mobile .eye9-pupil {
    position: absolute;
    top: 15px;
    left: 79px;
  }
  .eye10-mobile {
    top: 107px;
    right: 253px;
  }
  .eye10-mobile .eye10-wrapper {
    position: relative;
  }
  .eye10-mobile .eye10-bg {
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .eye10-mobile .eye10-veins {
    position: absolute;
    top: 3px;
    left: 7px;
  }
  .eye10-mobile .eye10-pupil-orange {
    position: absolute;
    top: 0px;
    left: 15px;
  }
  .eye10-mobile .eye10-pupil-black {
    position: absolute;
    top: 2px;
    left: 20px;
  }
  .eye10-mobile .eye10-pupil {
    position: absolute;
    top: 3px;
    left: 22px;
  }
  .eye11-mobile {
    top: 386px;
    left: 35px;
  }
  .eye11-mobile .eye11-wrapper {
    position: relative;
  }
  .eye11-mobile .eye11-bg {
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .eye11-mobile .eye11-veins {
    position: absolute;
    top: 6px;
    left: 14px;
  }
  .eye11-mobile .eye11-pupil-orange {
    position: absolute;
    top: 17px;
    left: 36px;
  }
  .eye11-mobile .eye11-pupil-black {
    position: absolute;
    top: 27px;
    left: 49px;
  }
  .eye11-mobile .eye11-pupil {
    position: absolute;
    top: 30px;
    left: 55px;
  }
  .eye12-mobile {
    top: 406px;
    left: 170px;
  }
  .eye12-mobile .eye12-wrapper {
    position: relative;
  }
  .eye12-mobile .eye12-bg {
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .eye12-mobile .eye12-veins {
    position: absolute;
    top: 6px;
    left: 14px;
  }
  .eye12-mobile .eye12-pupil-orange {
    position: absolute;
    top: 17px;
    left: 36px;
  }
  .eye12-mobile .eye12-pupil-black {
    position: absolute;
    top: 27px;
    left: 49px;
  }
  .eye12-mobile .eye12-pupil {
    position: absolute;
    top: 30px;
    left: 55px;
  }
}
